.app-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 12fr;
  grid-template-areas:
    "n c"
    "n c";
}

.main__content {
  grid-area: c;
  background-color: #ffffff;
  border-radius: 56px;
}
